.box{
    width: 500px;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}
.box h3{
    text-align: center;
    margin-bottom: 30px;
}
.box button {
     display: block;
     margin: 0px auto;
     border:none;
     padding: 5px 10px;
     font-size: 20px;
     border-radius: 30px;
     margin-bottom: 30px;
     
    
     
}